{% extends 'layout.html' %}

    {% block body %}
<h1>Students Fee payment list</h1>
<hr>
<ol>
    <li> Application (once) 3,000.00</li>
    <li>Registration (per sem.) 2,250.00</li>
    <li>lCT services (p.a) 7,000.00</li>
    <li>Library (p.a) 4,000.00</li>
    <li>Medical (p.a) 6,500.00</li>
    <li>lD Card (p.a) 1000.00</li>
    <li>Activity (p.a) 2,000.00</li>
    <li>Students' organization (p.a) 1,000.00</li>
    <li>Examination (per unit) 1,000.00</li>
    <li>Caution (once) 5,000.00</li>
</ol>

    {% endblock %}